<h1 class="text-center m-5 ">Welcome to grentma!</h1>
<div class="container">
<div class="row">
<div class="d-flex align-content-stretch justify-content-between flex-wrap">
<% @grandmas.each do |grandma| %>
  <div class="card">
      <%= link_to grandma , class:"disable_decoration" do %>
    <div class="card-img">
    <% if grandma.image_url.attached? %>
      <%= image_tag grandma.image_url %>
    <% end %>
    </div>
    <div class="card-inner">
      <div class="header">
        <h2><%= grandma.first_name %></h2>
         <h3><%= grandma.skills %></h3>
    </div>
    <div class="content">
      <p><%= grandma.description %></p>
    </div>
      </div>
  </div>
<% end %>
 <% end %>
</div>
