<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-4">Add a new Grandma</h1>
      <%= simple_form_for(@grandma, html: { class: 'form-horizontal' }) do |f| %>
        <div class="form-group">
          <%= f.label :first_name, class: 'control-label' %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :last_name, class: 'control-label' %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :location, class: 'control-label' %>
          <%= f.text_field :location, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :description, class: 'control-label' %>
          <%= f.text_area :description, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :skills, class: 'control-label' %>
          <%= f.text_field :skills, class: 'form-control' %>
        </div>
          <div class="form-group">
          <%= f.label :price, class: 'control-label' %>
          <%= f.text_field :price, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.file_field :image_url, multiple: true, class: 'form-control-file' %>
        </div>
        <%= f.submit 'Submit', class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
  </div>
</div>
