
<div class = "container" >
  <div class ="d-flex my-3">
    <h1><%= @grandma.first_name  %> <%= @grandma.last_name  %></h1>
  </div>



  <div class="d-flex images mb-3">
    <%= cl_image_tag @grandma.image_url.key, class: "show-image-left" %>

    <% if @grandma.feed_photos.any? %>
      <div class="show-image-right-container">
        <% @grandma.feed_photos.each do |photo| %>
          <%= cl_image_tag photo.key, class: "show-image-right" %>
        <% end %>
      </div>
    <% end %>
  </div>


<div class="list-group">
    <div >
      <h2>Location:</h2>
      <p class="list-group-item list-group-item-info"><%= @grandma.location %></p>
    </div>

    <div>
      <h2>Skills:</h2>
      <p class="list-group-item list-group-item-info"><%= @grandma.skills %></p>
    </div>

    <div>
      <h2>Description:</h2>
      <p class="list-group-item list-group-item-info" ><%= @grandma.description %></p>
    </div>
</div>

  <div class ="d-flex">

    <%= link_to "Reserve", new_grandma_booking_path(@grandma), class: "btn btn-primary me-3 buttons-show" %>
    <%= link_to "Edit", edit_grandma_path(@grandma), class: "btn btn-primary me-3 buttons-show" %>
    <%= button_to "Delete", grandma_path(@grandma), class: "btn btn-danger buttons-show", method: :delete, data: { confirm: "Are you sure?" } %>

  </div>
</div>
